sheme/expressions.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:element name="expressions" >
	<xs:complexType>
		<xs:sequence>
			<xs:element name="dialect" maxOccurs="unbounded">
    			<xs:complexType>
        			<xs:sequence>
            			<xs:element name="viewlist" type="xs:string" />
        			</xs:sequence>
        			<xs:attribute name="dname" type="xs:string"></xs:attribute>
    			</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:element>
</xs:schema>